* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
}

.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.red {
  background-color: #ff0000;
}

.no-mt {
  margin-top: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}
