<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RPG Builder{% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include 'incs/navbar.html.twig' %}
{#    <input type="checkbox" id="check">#}
{#    <label for="check">#}
{#        <i class="fas fa-bars" id="btn"></i>#}
{#        <i class="fas fa-times" id="cancel"></i>#}
{#    </label>#}
{#    <div class="sidebar">#}
{#        {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
{#            {% for user in user_detail %}#}
{#            <header>{{ username }}</header>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <header>My App</header>#}
{#        {% endif %}#}
{#        <ul>#}
{#            <li class="nav-hover"><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="fas fa-link"></i>Shortcuts</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="fas fa-stream"></i>Overview</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="far fa-question-circle"></i>About</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>#}
{#            <li class="nav-hover"><a href="#"><i class="far fa-envelope"></i>Contact</a></li>#}
{#        </ul>#}
{#    </div>#}
    <section class="main">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </section>
    </body>
</html>
